body{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    /* border: 2px solid salmon; */
    width: 30vw;
    margin: auto;
}

.form >* {
    padding: 1em;
    /* text-align: center; */
}

button{
    margin-top: 2em;
    width: 10vw;
    align-self: center;
    border-radius: 0.5em;
    color: aliceblue;
    background-color: slateblue;
    font-weight: 500;
    
}

label {
    /* color: slateblue; */
    font-weight: 500;
    font-size: 1.3em;
}

input{
    border: 2px solid slateblue;
    border-radius: 0.5em;
}